<%= form_for(@course_user) do |f| %>
  <% if @course_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_user.errors.count, "error") %> prohibited this course_user from being saved:</h2>

      <ul>
      <% @course_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br />
    <%= f.text_field :teacher %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
