<h1>Listing course_users</h1>

<table>
  <tr>
    <th>Course</th>
    <th>User</th>
    <th>Teacher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_users.each do |course_user| %>
  <tr>
    <td><%= course_user.course_id %></td>
    <td><%= course_user.user_id %></td>
    <td><%= course_user.teacher %></td>
    <td><%= link_to 'Show', course_user %></td>
    <td><%= link_to 'Edit', edit_course_user_path(course_user) %></td>
    <td><%= link_to 'Destroy', course_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course user', new_course_user_path %>
