
<h1> <%= Course.find(params[:id]).name %> </h1>
<h2> <%= Course.find(params[:id]).course_number %></h2>

<table class="table">
<thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @course_users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td>  <% if current_user.id==user.id %>
	    <%= link_to 'Remove Me', rm_course_path(current_user.id, params[:id]) %>
          <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Course code', new_course_user_path %>
