<p id="notice"><%= notice %></p>

<p>
  <b>Course number:</b>
  <%= @course.course_number %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Offered now:</b>
  <%= @course.offered_now %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
